<nav>
    <div class="nav-wrapper pink darken-4"> 
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo center">Jasmine's Portfolio</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/portfolio">Projects</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav pink lighten-5" id="mobile-demo">
    <li><a href="/" class="pink-text text-darken-4">Home</a></li>
    <li><a href="/contact" class="pink-text text-darken-4">Contact</a></li>
    <li><a href="/portfolio" class="pink-text text-darken-4">Projects</a></li>
</ul>