<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web developer Portfolio Contact Page">
    <!-- tag sources: 
    
    https://css-tricks.com/essential-meta-tags-social-media/

    -->
    <!-- google tags-->
    <meta name="google" content="nositelinkssearchbox">

    <!-- facebook tags-->
    <meta name="og:title" content="Contact Jasmine">
    <meta name="og:type" content="contact.page">
    <meta name="og:url" content="http://localhost:80/">
    <meta name="og:image" content="/images/jasmine.jpg">

    <!-- twitter tags-->
    <meta name="twitter:title" content="Contact Jasmine">
    <meta name="twitter:description" content="Web developer Portfolio Contact Page">
    <meta name="twitter:image" content="/images/jasmine.jpg">
    <meta name="twitter:card" content="/images/jasmine.jpg">

    <title>Contact</title>
    <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="canonical" href="https://example.com/dresses/green-dresses">
</head>
<body>
    <%- include('partials/nav.ejs'); %>
    <div class="container">
        <div class="row">
            <h1 class="col">Contact</h1>
        </div>
        <div class="row">
            <h6 class="col">
                This contact form doesn't work yet. TODO: make it work .
            </h6>
        </div>
        <div class="row">
            <div class="chip">
                Tag
                <i class="close material-icons">close</i>
            </div>
            <form id="contact_submit" action="/contact" method="POST" class="col s12">
                <div class="input-field col s6">
                    <input class="validate" placeholder="John" type="text" name="first_name" id="first_name">
                    <label for="first_name">First name</label>
                </div>
                <div class="input-field col s6">
                    <input class="validate" placeholder="Cena" type="text" name="last_name" id="last_name">
                    <label for="last_name">Last name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input type="email" class="validate" name="email" id="email_inline">
                    <label for="email_inline">Email</label>
                    <span class="helper-text" data-error="wrong" data-success="right">Helper text</span>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" class="validate" name="website" id="website">
                    <label for="website">Website (optional)</label>
                </div>
                <div class="input-field col s12">
                    <textarea name="message" id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Your message</label>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                
            </form>
        </div>
    </div>
    
</body>

<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        // initialize sidebar
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {draggable: true});
        document.getElementById('contact_submit').addEventListener('submit', (e) => {
            
        })

    })
    // very basic front-end javascript email validation. 
    // will also do server-side checking.
    function emailIsValid (email) {
        return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email)
    }
</script>
</html>