nav {
    height: 80px;
    background-color: hsl(199, 41%, 33%);
}
nav ul {
    display:flex;
    flex-direction: row;
    gap:10px;
}

nav ul.nav__links {
    color: white;
    font-weight: 400;
    font-size: 16px;
}
